@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: rgba(230, 207, 245, 0.911);
}

body {
  background-color: #0a0a0e;
  color: rgba(226, 192, 248, 0.836);
  font-family: 'Mulish', sans-serif;
  overflow-x: hidden;
  position: relative;
}

.container {
  width: 1210px;
  margin: 0 auto;
  scroll-margin-top: 13rem;
}

@media (max-width: 1440px) {
  .container {
    width: 85%;
  }
}

.title-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: solid 1px rgba(38, 38, 48, 0.37);
  border-bottom: solid 1px rgba(17, 17, 22, 0.63);
}

.title-section span {
  background-color: #9d44e2;
  width: 5px;
  height: 35px;
  border: solid 1px #9d44e2;
  margin-right: 0.4rem;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 3rem;
  color: #eee1f8;
  font-size: 2rem;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #18171d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 1.3rem 1.3rem 1.3rem;
  border-radius: 0 0 0.1rem 0.1rem;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  z-index: 100;
}

header .header-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1210px;
  margin: 0 auto;
}

@media (max-width: 565px) {
  header {
    width: 100%;
    left: 0;
  }
}

header h1 {
  font-family: 'Black Han Sans', sans-serif;
  font-weight: 100;
  color: #9e3dee;
}

header form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header form span {
  color: rgba(230, 207, 245, 0.658);
  letter-spacing: 1px;
}

@media (max-width: 1150px) {
  header form span {
    width: 120px;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 1035px) {
  header form span {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1035px) {
  header form {
    display: none;
  }
}

header form select {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='rgba(165, 160, 187, 0.795)' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
  background-color: rgba(24, 23, 29, 0.89);
  border: solid 1px rgba(53, 50, 66, 0.863);
  letter-spacing: 1px;
  color: rgba(230, 207, 245, 0.644);
  border-radius: 6px;
  padding: 0.5rem;
  width: 140px;
  margin: 4px;
  height: 40px;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  height: 100%;
  margin-left: 3.5rem;
}

header form select:hover {
  border: solid 1px #6f4194;
  color: rgba(226, 192, 248, 0.959);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

@media screen and (max-width: 1190px) {
  header form select {
    width: 120px;
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 1035px) {
  header form select {
    width: 80%;
    margin: 0;
    margin-top: 0.7rem;
    font-size: 0.9rem;
  }
}

header form select option {
  padding: 5rem;
}

header form a {
  cursor: pointer;
  padding: 0.5rem 0.8rem;
  height: 40px;
  background-color: transparent;
  color: rgba(230, 207, 245, 0.644);
  letter-spacing: 1px;
  margin-left: 3px;
  border: none;
  color: #e6cff5;
  text-align: center;
  border-radius: 6px;
  letter-spacing: 1px;
  font-weight: 100;
  margin-left: 10px;
  font-size: 1.1rem;
  font-family: 'Bebas Neue', cursive;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#a03ff0), to(rgba(84, 29, 139, 0.788)));
  background-image: linear-gradient(to bottom right, #a03ff0, rgba(84, 29, 139, 0.788));
}

@media screen and (max-width: 1035px) {
  header form a {
    margin-top: 0.7rem;
    width: 35%;
    font-size: 1.2rem;
    letter-spacing: 2px;
  }
}

@media screen and (max-width: 1035px) {
  header form {
    position: fixed;
    right: 0px;
    height: 100vh;
    width: 50%;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 100;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    background-color: rgba(24, 23, 29, 0.925);
    color: #8b8888;
  }
}

@media (max-width: 780px) {
  header form {
    width: 70%;
  }
}

@media (max-width: 565px) {
  header form {
    width: 100%;
  }
}

header form .filter-options {
  position: relative;
  margin-right: 70px;
}

@media screen and (max-width: 1035px) {
  header form .filter-options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 85%;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

header .search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  position: relative;
}

@media (max-width: 1150px) {
  header .search-container {
    width: 35%;
  }
}

@media screen and (max-width: 1035px) {
  header .search-container {
    width: 80%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 625px) {
  header .search-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

header input {
  position: relative;
  background-color: #2c2b33;
  background-color: transparent;
  border: solid 1px rgba(53, 50, 66, 0.863);
  padding: 0.6rem;
  border-radius: 6px;
  width: 100%;
  color: rgba(222, 220, 231, 0.849);
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  height: 40px;
  margin-left: 1.8rem;
}

@media screen and (max-width: 1035px) {
  header input {
    height: 100%;
    margin-left: 3.5rem;
  }
}

@media (max-width: 625px) {
  header input {
    margin-top: 0.3rem;
    margin-left: 0;
    height: 45px;
  }
}

header input:-webkit-autofill,
header input:-webkit-autofill:hover,
header input:-webkit-autofill:focus,
header input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: rgba(222, 220, 231, 0.849) !important;
}

header input:focus {
  border: solid 1px rgba(158, 61, 238, 0.616);
}

header #search {
  cursor: pointer;
  position: absolute;
  background-color: transparent;
  border: none;
  top: 12px;
  right: 10px;
  font-size: 1rem;
  color: rgba(78, 69, 85, 0.644);
}

@media (max-width: 930px) {
  header #search {
    top: 10px;
  }
}

@media (max-width: 625px) {
  header #search {
    top: 59px;
  }
}

header .close-nav,
header .burger {
  cursor: pointer;
  display: none;
  position: absolute;
  right: 1rem;
  top: 2.4rem;
  z-index: 100;
}

@media (max-width: 930px) {
  header .close-nav,
  header .burger {
    display: block;
  }
}

@media screen and (max-width: 1035px) {
  header .close-nav,
  header .burger {
    display: block;
  }
}

@media (max-width: 625px) {
  header .close-nav {
    margin-top: 0;
  }
}

header .burger div {
  width: 30px;
  height: 2px;
  background-color: #9e3dee;
  margin: 5px;
}

header .close-nav {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

header .close-nav .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 5px);
          transform: rotate(-45deg) translate(-5px, 5px);
}

header .close-nav .line2 {
  opacity: 0;
}

header .close-nav .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -5px);
          transform: rotate(45deg) translate(-5px, -5px);
}

header .close-nav div {
  width: 30px;
  height: 2px;
  background-color: #9e3dee;
  margin: 5px;
}

header .nav-active {
  -webkit-transform: translateX(0%) !important;
          transform: translateX(0%) !important;
  z-index: 100;
  opacity: 1;
}

.sticky {
  background-color: rgba(24, 23, 29, 0.973);
}

.landing-page {
  margin-bottom: 5%;
}

.landing-page .swiper-card {
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 80vh;
  position: relative;
}

.landing-page .swiper-pagination-progressbar {
  background: transparent;
}

.landing-page .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: #9e3dee;
}

.landing-page .swiper-pagination-bullet-active {
  background-color: #9e3dee;
}

.landing-page .landing-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  margin: 0 auto;
  width: 1210px;
  height: 100%;
  z-index: 100;
  padding: 10rem 0;
}

@media (max-width: 1440px) {
  .landing-page .landing-txt {
    width: 85%;
  }
}

.landing-page .landing-txt .txt-align {
  margin-bottom: -60px;
}

.landing-page .landing-txt .txt-align h1 {
  font-family: 'Mulish', sans-serif;
  letter-spacing: 1px;
  font-size: 1.3rem;
  margin-bottom: 5px;
  opacity: 0.8;
  color: #b99ebe;
}

@media (max-width: 780px) {
  .landing-page .landing-txt .txt-align h1 {
    font-size: 1.2rem;
  }
}

.landing-page .landing-txt .txt-align div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -5px;
  opacity: 0.8;
}

.landing-page .landing-txt .txt-align .movie-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
  margin-top: 5px;
}

.landing-page .landing-txt .txt-align .movie-rating i {
  margin-right: 7px;
  margin-left: 5px;
  color: #b99ebe;
  border: none;
}

.landing-page .landing-txt .txt-align .movie-rating p {
  color: #b99ebe;
}

.landing-page .landing-txt .txt-align .movie-title {
  font-size: 2rem;
  color: #e1d4e4;
  opacity: 0.9;
  letter-spacing: 2px;
}

@media (max-width: 780px) {
  .landing-page .landing-txt .txt-align .movie-title {
    font-size: 1.5rem;
  }
}

.landing-page .landing-txt .txt-align .movie-genres {
  font-size: 1rem;
  padding: 0 5px 0 0;
  color: #b99ebe;
}

@media (max-width: 780px) {
  .landing-page .landing-txt .txt-align .movie-genres {
    font-size: 0.8rem;
  }
}

.landing-page .landing-txt p {
  color: #e2c0f8;
  color: #ebe5f0;
  line-height: 2rem;
}

@media (max-width: 625px) {
  .landing-page .landing-txt p {
    font-size: 1rem;
  }
}

.movie-title {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  letter-spacing: 1px;
  font-weight: bold;
  color: rgba(226, 192, 248, 0.836);
}

.upcoming-slide {
  margin-bottom: 15vh;
}

.upcoming-slide .title-section {
  margin-bottom: 2vh;
}

.upcoming-slide .movie-title {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  letter-spacing: 1px;
  font-weight: bold;
  color: rgba(226, 192, 248, 0.836);
}

@media (max-width: 625px) {
  .upcoming-slide {
    margin-top: 17%;
  }
}

.upcoming-slide img {
  height: 280px;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1150px) {
  .upcoming-slide img {
    height: 200px;
  }
}

@media (max-width: 780px) {
  .upcoming-slide img {
    height: 220px;
  }
}

@media (max-width: 625px) {
  .upcoming-slide img {
    height: 250px;
  }
}

@media (max-width: 565px) {
  .upcoming-slide img {
    height: 200px;
  }
}

@media (max-width: 390px) {
  .upcoming-slide img {
    height: 250px;
  }
}

.upcoming-slide .upcoming-card {
  position: relative;
  top: 0;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0.8;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  padding-top: 10px;
}

.upcoming-slide .upcoming-card:hover {
  opacity: 1;
  position: relative;
  top: -10px;
}

.upcoming-slide .movie-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 10px;
  right: 0;
  background-color: rgba(157, 68, 226, 0.836);
  padding: 0.3rem;
  color: #f3ecec;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 8px;
  letter-spacing: 1px;
  font-size: 0.8rem;
}

.movie-genres {
  font-size: 0.75rem;
  letter-spacing: 1px;
  margin-top: 2px;
  color: rgba(101, 97, 126, 0.863);
}

#home-container {
  width: 1210px;
  margin: 0 auto;
  margin-bottom: 10%;
  margin-top: -6%;
}

@media (max-width: 1440px) {
  #home-container {
    width: 85%;
  }
}

#movies-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 2rem;
  -webkit-column-gap: 4rem;
          column-gap: 4rem;
  grid-row-gap: 4rem;
  margin-top: 2rem;
}

@media (max-width: 780px) {
  #movies-container {
    -ms-grid-columns: (minmax(150px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

.img-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2px;
}

.img-container:hover .details-btn {
  opacity: 1;
}

.img-container:hover .details-btn img {
  position: relative;
  top: -15px;
}

.movie-item {
  position: relative;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 1rem 0;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  opacity: 0.8;
}

.movie-item:hover {
  opacity: 1;
  top: -10px;
}

.movie-item .movie-title {
  font-size: 0.8rem;
  font-weight: bold;
}

.movie-item .movie-title h1 {
  font-size: 0.9rem;
  text-align: center;
  color: rgba(226, 192, 248, 0.836);
}

.movie-item .movie-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  right: 0;
  background-color: rgba(157, 68, 226, 0.836);
  padding: 0.3rem;
  color: #f3ecec;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.movie-item .movie-rating p {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.movie-item .movie-rating i {
  margin-right: 0.3rem;
  font-size: 0.8rem;
}

.movie-item .movie-poster {
  max-width: 100%;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}

#movie-banner {
  width: 100vw;
  margin: 0 auto;
  background-position: top;
  background-size: cover;
  min-height: 50vh;
  position: relative;
  margin-bottom: 4%;
}

#movie-banner:after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(31, 28, 28, 0.705)), to(rgba(19, 19, 17, 0.692)));
  background-image: linear-gradient(rgba(31, 28, 28, 0.705), rgba(19, 19, 17, 0.692));
  pointer-events: none;
}

#movie-banner .movie-video {
  z-index: 100;
}

#movie-banner .modal-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 3rem;
  color: #9e3dee;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  background: transparent;
  opacity: 0.7;
  border: none;
  cursor: pointer;
  opacity: 0.8;
}

#movie-banner .modal-btn:hover {
  opacity: 1;
}

#movie-detail {
  margin-top: 10%;
  margin-bottom: 2rem;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 60%;
      grid-template-columns: 1fr 60%;
  grid-gap: 2rem;
}

@media (max-width: 1150px) {
  #movie-detail {
    -ms-grid-columns: 1fr 55%;
        grid-template-columns: 1fr 55%;
  }
}

@media (max-width: 780px) {
  #movie-detail {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

#movie-detail ul {
  list-style: none;
}

#movie-detail .poster-movie {
  width: 100%;
  position: relative;
  padding: 0;
}

#movie-detail .poster-movie span {
  position: absolute;
  bottom: 5rem;
  right: 50%;
}

@media (max-width: 780px) {
  #movie-detail .poster-movie {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#movie-detail .poster-movie img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: solid 2px rgba(143, 48, 221, 0.432);
  border: solid 2px transparent;
  margin: 0 auto;
  border-radius: 6px;
}

@media (max-width: 780px) {
  #movie-detail .poster-movie img {
    width: 360px;
  }
}

#movie-detail .details-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 1px #121218;
  border-radius: 6px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#0d0d13), to(rgba(20, 14, 22, 0.884)));
  background-image: linear-gradient(to bottom right, #0d0d13, rgba(20, 14, 22, 0.884));
  padding: 0.5rem 2rem;
}

@media (max-width: 625px) {
  #movie-detail .details-container {
    padding: 0.2rem 1.3rem;
  }
}

#movie-detail .details-container .movie-title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  border-bottom: none;
  margin-bottom: 2rem;
}

@media (max-width: 930px) {
  #movie-detail .details-container .movie-title {
    margin-bottom: -1rem;
  }
}

#movie-detail .details-container .movie-title span {
  display: none;
}

#movie-detail .details-container .movie-title h1 {
  font-size: 2.5rem;
  background: -webkit-linear-gradient(rgba(167, 70, 247, 0.856), #5f1ea0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 1096px) {
  #movie-detail .details-container .movie-title h1 {
    font-size: 2.2rem;
  }
}

@media (max-width: 930px) {
  #movie-detail .details-container .movie-title h1 {
    font-size: 1.8rem;
  }
}

@media (max-width: 780px) {
  #movie-detail .details-container .movie-title h1 {
    margin-top: 1rem;
  }
}

#movie-detail .details-container .title-section {
  border-bottom: none;
  margin-top: 0;
}

#movie-detail .details-container .overview {
  width: 100%;
}

@media (max-width: 930px) {
  #movie-detail .details-container .overview {
    margin-bottom: -1rem;
  }
}

#movie-detail .details-container .overview p {
  width: 100%;
  line-height: 1.3rem;
}

@media (max-width: 930px) {
  #movie-detail .details-container .overview p {
    font-size: 0.9rem;
  }
}

#movie-detail .details-container .detail-info {
  margin-bottom: 1rem;
}

@media (max-width: 930px) {
  #movie-detail .details-container .detail-info li {
    font-size: 0.9rem;
  }
}

#movie-detail .details-container .detail-info li .contrast {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  color: #eee1f8;
}

#movie-detail .details-container .title-section {
  margin-top: 3rem;
}

.similar-section {
  display: -ms-grid;
  display: grid;
}

.similar-section .title-section {
  border-bottom: none;
  margin-top: 5rem;
}

.similar-movies {
  grid-gap: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 5rem;
}

.similar-movies .movie-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  right: 0;
  background-color: rgba(157, 68, 226, 0.836);
  padding: 0.3rem;
  color: #f3ecec;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.similar-movies .movie-rating p {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.similar-movies .movie-rating i {
  margin-right: 0.3rem;
  font-size: 0.8rem;
}

.similar-movies div .movie-title {
  font-size: 0.8rem;
}

.similar-movies div img {
  max-width: 100%;
  border-radius: 8px;
}

.similar-movies .swiper-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.8;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.similar-movies .swiper-card:hover .details-btn {
  opacity: 1;
}

.similar-movies .swiper-card:hover .details-btn img {
  position: relative;
  top: -15px;
}

.similar-movies .swiper-card:hover {
  opacity: 1;
}

.similar-movies .swiper-card a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reviews-section .title-section {
  border-bottom: none;
}

.reviews-section .no-reviews {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews-section .no-reviews i {
  font-size: 25px;
  margin-left: 10px;
}

.reviews-section .no-reviews p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
  color: #9e44e2;
}

.movie-reviews {
  background-color: #1e1e3d;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#0d0d13), to(rgba(20, 14, 22, 0.884)));
  background-image: linear-gradient(to bottom right, #0d0d13, rgba(20, 14, 22, 0.884));
  border: solid 1px #121218;
  padding: 1rem 2rem;
  margin-top: 1rem;
  height: 500px;
  overflow-y: scroll;
  scrollbar-color: #a03ff0 rgba(26, 23, 31, 0.363);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 6px;
}

.movie-reviews h1 {
  margin-bottom: 1rem;
}

.movie-reviews h3 {
  margin-bottom: 0.5rem;
  color: #eee1f8;
}

.movie-reviews p {
  margin-bottom: 1.2rem;
}

.movie-reviews a {
  text-decoration: none;
  border: none;
  color: rgba(230, 207, 245, 0.911);
  letter-spacing: 1px;
  font-family: "Bebas Neue", cursive;
  font-size: 1.1rem;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#a03ff0), to(rgba(84, 29, 139, 0.788)));
  background-image: linear-gradient(to bottom right, #a03ff0, rgba(84, 29, 139, 0.788));
  padding: 0.5rem 2rem;
  margin-top: 5rem;
}

.movie-reviews div {
  margin-top: 0rem;
  padding: 2rem 0;
}

.movie-reviews::-webkit-scrollbar {
  width: 10px;
}

.movie-reviews::-webkit-scrollbar-track {
  background: rgba(26, 23, 31, 0.952);
}

.movie-reviews::-webkit-scrollbar-thumb {
  background: #a03ff0;
}

.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.9;
}

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

footer {
  width: 100%;
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 25vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#0a0a0e), to(#151118));
  background-image: linear-gradient(to right, #0a0a0e, #151118);
  border-top: solid 1px #1b161f;
  color: #7a5f8d;
}

footer p {
  margin-bottom: 0.2rem;
  border-bottom: solid 1px #1b161f;
  padding: 0 0 0.2rem 0;
}

footer a {
  cursor: pointer;
  margin: 0.2rem;
  color: #7a5f8d;
}

footer .socials {
  margin-top: 10px;
}

.search-error {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.pagination-btn button {
  cursor: pointer;
  border-radius: 6rem;
  background: none;
  border: solid 2px #8e33d3;
  margin: 0.5rem;
}

.pagination-btn button:hover {
  background-color: rgba(168, 83, 224, 0.356);
  color: #f0e9e9;
}

.pagination-btn button i {
  pointer-events: none;
  padding: 0.5rem 0.7rem;
  margin: 0.2rem;
  color: rgba(226, 192, 248, 0.692);
  font-size: 0.9rem;
}

.login-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.link {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.link a {
  background-color: blue;
  margin-top: 54px;
  z-index: 100;
}

/*--------Login---------*/
.login-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 100%;
  margin-bottom: -25vh;
}

.login-container .login-wpp {
  height: 100vh;
  background-color: red;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(31, 28, 28, 0.39)), to(rgba(14, 14, 13, 0.61))), url("https://www.10wallpaper.com/wallpaper/2560x1440/1804/2018_Avengers_Infinity_War_4K_Film_2560x1440.jpg") no-repeat;
  background: linear-gradient(rgba(31, 28, 28, 0.39), rgba(14, 14, 13, 0.61)), url("https://www.10wallpaper.com/wallpaper/2560x1440/1804/2018_Avengers_Infinity_War_4K_Film_2560x1440.jpg") no-repeat;
  background-size: cover;
  background-position: bottom;
}

.login-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-container form h1 {
  font-family: 'Black Han Sans', sans-serif;
  font-weight: 100;
  color: #9e3dee;
  margin-bottom: 0.5rem;
}

.login-container form .signin {
  margin-top: 2rem;
}

.login-container form .signin a {
  text-decoration: none;
  border: none;
  color: rgba(230, 207, 245, 0.911);
  letter-spacing: 1px;
  font-family: "Bebas Neue", cursive;
  font-size: 1.1rem;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#a03ff0), to(rgba(84, 29, 139, 0.788)));
  background-image: linear-gradient(to bottom right, #a03ff0, rgba(84, 29, 139, 0.788));
  padding: 0.8rem 3rem 0.8rem 3rem;
  font-size: 1.5rem;
  margin-top: 5vh;
  border-radius: 3px;
}

.user-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 1fr;
      grid-template-columns: 200px 1fr;
  margin-bottom: -25vh;
}

.user-section .title-section {
  margin-bottom: 10px;
}

.user-section .user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(24, 23, 29, 0.863);
  width: 250px;
}

.user-section .list-wrapper {
  width: 1000px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 50px;
}

.user-section .list-wrapper .list-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0.7;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.user-section .list-wrapper .list-card img {
  border-radius: 4px;
}

.user-section .list-wrapper .list-card:hover {
  opacity: 1;
}

.user-section .list-wrapper .favorite-list {
  margin-bottom: 100px;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#19161b), to(#16111b));
  background-image: linear-gradient(to bottom right, #19161b, #16111b);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.user-icon {
  font-size: 20px;
  color: #9e3dee;
  margin-right: 6px;
}

.user-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1035px) {
  .user-links {
    margin-top: 40px;
  }
}

.user-links a {
  background: none;
  font-family: unset;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
  color: rgba(209, 180, 228, 0.911);
  width: unset;
}

.user-links .logout {
  margin-top: -15px;
  font-size: 13px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: rgba(196, 173, 211, 0.911);
}

@media screen and (max-width: 1035px) {
  .user-links .logout {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.user-links .logout .logout-icon {
  color: #9e3dee;
  font-size: 16px;
  margin-right: 6px;
  margin-top: 0;
}

.login-link {
  background: none;
  font-family: unset;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
  color: rgba(209, 180, 228, 0.911);
}

@media screen and (max-width: 1035px) {
  .login-link {
    margin-top: 40px;
    margin-left: 75px;
  }
}

#select-genre,
#filter-movie {
  margin-left: 10px;
  height: 40px;
}

.login-page {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: -25vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(14, 13, 13, 0.781)), to(rgba(14, 14, 13, 0.89))), url("https://wallpaperaccess.com/full/1895586.jpg");
  background-image: linear-gradient(rgba(14, 13, 13, 0.781), rgba(14, 14, 13, 0.89)), url("https://wallpaperaccess.com/full/1895586.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-page .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -180px;
  background: rgba(10, 10, 10, 0.822);
  padding: 45px;
  height: 250px;
  border-radius: 6px;
}

@media (max-width: 565px) {
  .login-page .content {
    padding: 25px;
  }
}

.login-page h1 {
  color: #9e3dee;
  font-size: 45px;
}

.login-page button {
  cursor: pointer;
  text-decoration: none;
  border: none;
  color: rgba(230, 207, 245, 0.911);
  letter-spacing: 1px;
  font-family: "Bebas Neue", cursive;
  font-size: 1.1rem;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#a03ff0), to(rgba(84, 29, 139, 0.788)));
  background-image: linear-gradient(to bottom right, #a03ff0, rgba(84, 29, 139, 0.788));
  width: 160px;
  height: 45px;
  border-radius: 6px;
  margin-top: 8px;
  font-size: 25px;
  letter-spacing: 1px;
}

.user-page {
  margin-top: 85px;
}

.user-page .swiper-card {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-page .swiper-card button {
  position: absolute;
  top: -5px;
  font-size: 35px;
  right: 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
  cursor: pointer;
  margin-top: 5px;
  background: #9e3dee;
  border: none;
  color: rgba(217, 184, 240, 0.911);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0 6px 0 6px;
}

.user-page .swiper-card button:hover {
  color: rgba(237, 229, 243, 0.911);
}

.user-page .watchlist {
  margin-top: 85px;
}

.list-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0.6;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.list-card img {
  border-radius: 8px;
}

.list-card:hover {
  opacity: 1;
}
/*# sourceMappingURL=App.css.map */